/bin/
/obj/
/publish/

.vscode/

*.user
*.suo
*.userosscache
*.sln.docstates

*.db
*.log

TestResults/

.env
.env.*

appsettings.Development.json
appsettings.Local.json

node_modules/
bower_components/

.DS_Store
Thumbs.db
