@{
    ViewData["Title"] = "Reclamo Enviado";
}

<h2>Reclamo Enviado</h2>
<p>Tu reclamo ha sido recibido y será procesado. Te contactaremos por correo electrónico si es necesario.</p>

<a href="@Url.Action("Crear", "Reclamo")" class="btn btn-primary">Enviar otro reclamo</a>
