@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">ATENCIÓN A RECLAMOS</h1>
<<<<<<< HEAD
    <p>Prueba técnica - Analista programador - Ricardo Ochoa</p>
=======
    <p>DEMO - Ricardo Ochoa </p>
>>>>>>> fa403184ec483f6721539c904749d39a99b9819a
</div>
